/*********** ROOT ***********/
:root{
  --color-principal: #131313;
  --color-secundario-z: #1a5772;
  --color-secundario: #0095ff;
  --color-secundario-y: #1e81ae;
}

/***************** RESET *****************/
html{
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body{
  position: relative;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

button,
input{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  transition: 300ms ease;
  display: block;
}

a{
  text-decoration: none;
  transition: 300ms ease;
  display: inline-block;
}

figure{
  user-select: none;
  flex-shrink: 0;
  display: flex;
}

img, video, iframe{
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

li{
  list-style: none;
}

p{
  text-wrap: pretty;
  font-size: 0.912rem;
}

select,
option{
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

/***************** UTILITIES *****************/
.container{
  width: 95%;
  max-width: 64rem;
  margin-inline: auto;
}

.flex-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__main{
  width: 100%;
  padding-block: 1rem;
}

.text__clean{
  background-image: linear-gradient(to right, var(--color-principal) 20%, var(--color-secundario));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 400;
}

.btn--selected{
  background-image: linear-gradient(to right, var(--color-principal) 20%, var(--color-secundario));
  border: none;

  & .text__clean{
    background-image: none;
    color: #fff;
    -webkit-background-clip: unset;
    background-clip: unset;
    -webkit-text-fill-color: #fff;
  }
}

/***************** KEYFRAMES *****************/
@keyframes length{
  0%{
    transform: scaleX(1);
  }
  50%{
    transform: scaleX(1.2);
  }
}

@keyframes depth{
  0%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.2);
  }
}

@keyframes height{
  0%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.1);
  }
}

/***************** PAGE *****************/
/*********** STATUS-BAR ***********/
.status__bar__principal{
  padding-block: 1rem;
  overflow: auto;
}

.status__bar__container{
  width: 100%;
  min-width: 45rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  &.container{
    width: 95%;
  }
}

.status__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.status__text{
  background-image: linear-gradient(to right, var(--color-principal) 30%, var(--color-secundario));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.status__count{
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
  padding: 0.2rem;
  border: thin solid var(--color-secundario);
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.status__bar{
  position: absolute;
  bottom: 20%;
  inset-inline: 0;
  width: 93%;
  height: 6px;
  margin-left: 3.1rem;
  border: thin solid var(--color-principal);
  border-left: none;
  border-right: none;
  z-index: 1;
  transition: all 0.3s ease;

  &.status__step-1::after{
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% / 8);
    background-image: linear-gradient(to right, var(--color-principal) 30%, var(--color-secundario));
  }
}

.status__content--last .status__count::after{
  content: "";
  position: absolute;
  left: 1.43rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  z-index: 5;
}

.status__content--active .status__count{
  border-color: var(--color-principal);
  color: #fff;
  background-color: var(--color-principal);
}

/*********** FORM ***********/
.design__content{
  overflow: hidden;
  width: 100%;
  margin: auto;
  border-radius: 1rem;
  background-image: linear-gradient(to right, var(--color-principal) 30%, var(--color-secundario));

}

.form__design{
  margin: 1px;
  background-color: #fff;
  border-radius: 1rem;
}

.section__form{
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
  interpolate-size: allow-keywords;
}

.form__title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
}

.form__title__icon{
  fill: var(--color-secundario);
}

.form__options{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form__article{
  padding-block: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
  interpolate-size: allow-keywords;
  height: auto;

  & > * {
    transition: all 0.3s ease;
  }

  &:nth-child(2) {
    align-items: center;
  }
}

.scene__table{
  width: 80%;
  height: 80%;
  aspect-ratio: 1/1;
  margin: auto;
  max-width: 20rem;
  max-height: 20rem;
  position: relative;
}

.table{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  margin-inline: auto;
  transform: rotateX(0deg) rotateY(0deg);
  &:has(.edge__top:hover) .edge__top,
  &:has(.edge__top:hover) .edge__bottom,
  &:has(.edge__bottom:hover) .edge__top,
  &:has(.edge__bottom:hover) .edge__bottom,
  &:has(.edge__left:hover) .edge__left,
  &:has(.edge__left:hover) .edge__right,
  &:has(.edge__right:hover) .edge__left,
  &:has(.edge__right:hover) .edge__right{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
    z-index: 5;
  }
}

.table__top{
  position: relative;
  width: 73.85%;
  height: 52.75%;
  background-color: transparent;
  transform: skewX(-45deg) rotateX(60deg) translateY(-50%) translateX(0);
  z-index: 5;

}

.edge{
  background-color: #5558;
  border-radius: 1rem;
  transition: all 0.3s ease;
  position: absolute;
  cursor: pointer;
}

.edge__top{
  top: 0;
  right: 0;
  width: 100%;
  height: 11px;
}

.edge__right{
  top: 0;
  right: 0;
  height: 100%;
  width: 8px;
}

.edge__bottom{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11px;
}

.edge__left{
  left: 0;
  bottom: 0;
  width: 8px;
  height: 100%;
}

.table__legs{
  position: absolute;
  inset: 0;

  &:has(.leg:hover) .leg{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
  }
}

.leg {
  position: absolute;
  width: 6px;
  height: 70%;
  background-color: #5558;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.leg__front__left {
  top: 25%;
  left: 0.7%;
}

.leg__front__right {
  top: 25%;
  right: 25%;
}

.leg__back__left {
  top: 3px;
  left: 26.5%;
}

.leg__back__right {
  top: 0;
  right: 0;
  transform: translateZ(100px);
}

.side__length--active,
.side__depth--active,
.side__height--active{
  background-color: var(--color-secundario);
  box-shadow: 0 1px 16px 0 var(--color-secundario);
  z-index: 5;
}

.side__length--active{
  animation: length 1s ease infinite;
}

.side__depth--active{
  animation: depth 1s ease infinite;
}

.side__height--active{
  z-index: 2;
  animation: height 1s ease infinite;
  transform-origin: top;
}

.form__info{
  display: flex;
  flex-direction: column;
  & > *{
    padding-block: 1rem;
  }
}

.form__btns{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn{
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  flex-grow: 1;
}

.measure__span{
  background-image: linear-gradient(to right, var(--color-principal) 30%, var(--color-secundario));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  user-select: none;
}

.form__inputs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  & > *{
    padding-block: 1rem;
  }
}

.input__bg{
  padding: 0;
  border-radius: 0.7rem;
  transition: background-image 0.3s ease;

  &.bg--active{
    background-image: linear-gradient(to right, var(--color-principal) 30%, var(--color-secundario));
  }
}

.input__container{
  padding: 1rem;
  border-radius: 0.7rem;
  margin: 1px;
  background-color: #d4edff;
}

.input__content{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: thin solid transparent;
  transition: all 0.3s ease;

  &:has(.form__input:focus) {
    border-bottom-color: var(--color-secundario);
  }
}

.label__input{
  font-size: 0.8rem;
  cursor: pointer;
}

.input__measure{
  display: flex;
  align-items: center;
  justify-content: center;

  & > *{
    flex-grow: 1;
    width: 0;
  }
}

.form__input{
  padding: 0.5rem;
  text-align: center;
  text-align: end;
}

.input__unit{
  text-align: start;
}

.alert__container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.6rem;
  background-color: #ffe3f4;
  border: thin solid #8f33ff;
  padding: 0.75rem;
  overflow: hidden;
}

.alert__title{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.alert__svg__icon{
  background-color: #8f33ff;
  border-radius: 50%;
  display: block;
}

.form__input__checkbox{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.election__contact.element--show,
.election__pergola.element--show,
.form__btns__footer.element--show,
.election__attached.element--show{
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;

  @starting-style{
    opacity: 0;
  }
}

.election__contact,
.election__pergola,
.form__btns__footer,
.election__attached{
  transition: opacity 0.3s ease;
  opacity: 0;
  display: none;
}

.form__article:last-child{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.election__contact__container{
  width: 100%;
  margin-inline: auto;
  max-width: 416px;
  border-radius: 1rem;
  background-color: #d4edff;
}

.election__contact__content{
  overflow: hidden;
  padding: 1.5rem;
}

.election__contact__content{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.contact__title__text{
  font-weight: 400;
}

.btn__contact{
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
}

.election__container{
  overflow: hidden;
}

.election__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.election__title{
  display: flex;
  align-items: center;
}

.election__btns{
  min-width: 8rem;
  width: 70%;
  max-width: 15rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.btn__election{
  border-radius: 1rem;
}

.election__title__svg{
  fill: var(--color-secundario);
}

.btns__footer__container{
  overflow: hidden;
}

.btns__footer__content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn__footer{
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: thin solid var(--color-principal);
}

/********* ATTACHED *********/
.election__attached__content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.attached__content{
  display: flex;
  flex-direction: column;

  & > * {
    padding-block: 1rem;
  }
}

.attached__title{
  font-size: 0.8rem;
  text-align: center;
}

.table__attached{
  position: absolute;
  width: 2rem;
  aspect-ratio: 1/1;
  height: 2rem;
  border-radius: 50%;
  color: var(--color-secundario);
  font-size: 0.75rem;
  background-color: #fff;
  border: thin solid var(--color-secundario);
  z-index: 6;
  transition: all 0.3s ease;
  
  &.table__attached--active{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
    color: #fff;
  }
}

.attached__measures__container{
  width: 90%;
  margin-inline: auto;
  overflow: hidden;
}

.attached__list{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.attached__measure__content{
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;

  & .label__input{
    width: 100%;
    height: 100%;
  }
}

.attached__measure{
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.table__attached__a1{
  top: 30%;
  left: 35%;
}

.table__attached__a2{
  top: -17%;
  right: 30%;
}

.table__attached__b1{
  top: -2%;
  left: 0%;
}
.table__attached__b2{
  top: 14%;
  right: 0%;
}

.attached__content{
  &:has(.input__form--checkbox[data-attached="a1"]:checked) .table__attached__a1{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
    color: #fff;
    z-index: 5;
    border: thin solid var(--color-secundario);
  }

  &:has(.input__form--checkbox[data-attached="a2"]:checked) .table__attached__a2{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
    color: #fff;
    z-index: 5;
    border: thin solid var(--color-secundario);
  }

  &:has(.input__form--checkbox[data-attached="b1"]:checked) .table__attached__b1{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
    color: #fff;
    z-index: 5;
    border: thin solid var(--color-secundario);
  }

  &:has(.input__form--checkbox[data-attached="b2"]:checked) .table__attached__b2{
    background-color: var(--color-secundario);
    box-shadow: 0 1px 16px 0 var(--color-secundario);
    color: #fff;
    z-index: 5;
    border: thin solid var(--color-secundario);
  }
}

.bg__gradient{
  background-image: linear-gradient(to right, var(--color-principal) 30%, var(--color-secundario));
  padding: 1px;
}

/*********** FORM-2 ***********/
.body:not(:has(.main.step-two)){
  & .section__form--dos{
    display: none;
  }

  & .section__form--uno{
    display: block;
  }
}

.body:has(.main.step-two){
  & .main.step-two{
    & .status__bar.status__step-1::after{
      width: calc(40%);
    }
  
    & .section__form--uno{
      display: none;
    }

    & .section__form--dos{
      display: block;
    }
  }
}

.article__color__base{
  gap: 2rem;
}

.color__base__container{
  width: 100%;
  overflow: hidden;
}

.color__select__container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 5rem), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min(100%, 5rem), 1fr));
  gap: 1rem;
}

.color__select__content{
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #eff;
  border: thin solid transparent;

  &.color--selected{
    border-color: var(--color-secundario);
  }
}

.color__content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.span__color,
.color__code{
  font-size: 0.8rem;
  text-align: center;
  color: #000;
}

.color__icon{
  width: 80%;
  max-width: 2rem;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  border: thin solid #000;
}

.color__black .color__icon{
  background-color: #000;
}

.color__white .color__icon{
  background-color: #fff;
}

.color__grey .color__icon{
  background-color: #555;
}

.custom__color__container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & input{
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: #000;
    font-size: 0.8rem;
    text-align: center;
  }
}

.input__checkbox__color{
  padding-top: 1rem;
}

.checkbox__color__container{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (width >= 768px) {
  .status__bar__principal{
    overflow: hidden;
  }

  .election__btns{
    flex-direction: row;
    max-width: unset;
    width: unset;
  }

  .btn__election{
    padding: 0.75rem 4rem;
  }

  .btns__footer__content{
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (width >= 1024px){
  .container{
    width: 90%;
  }

  .section__form{
    padding: 2rem;
  }

  .form__article:first-child{
    flex-direction: row-reverse;

    & > *{
      flex-grow: 1;
    }
  }

  .scene__table__container{
    width: 100%;
  }

  .table{
    width: 80%;
    height: 80%;
    margin: auto;
  }

  .design__content{
    width: 90%;
  }

  .attached__content{
    flex-direction: row-reverse;
    width: 100%;

    & > *{
      flex-grow: 1;
      width: 100%;
    }
  }

  .attached__measures__container{
    width: max-content;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .attached__list{
    gap: 0.5rem;
  }

  .attached__measure__content{
    padding: 0.5rem 1rem;
  }

  .scene__table__container{
    justify-content: flex-start;

    & .scene__table{
      margin: 0;
    }
  }
}